<a href="https://colab.research.google.com/github/yehaa2004/blender/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.9.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 44.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (2.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.25.2)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: tabula-py
Successfully installed tabula-py-2.9.0

In [2]:
import tabula

In [9]:
import csv

In [3]:
file = "/content/all_seasons.pdf"

In [4]:
df_1 = tabula.read_pdf('/content/all_seasons.pdf')

WARNING:tabula.backend:Error importing jpype dependencies. Fallback to subprocess.
WARNING:tabula.backend:No module named 'jpype'
WARNING:tabula.util:'pages' argument isn't specified.Will extract only from page 1 by default.

In [5]:
print(df_1)

[      0 Randy Livingston  HOU  22  193.04   94.800728
0     1 Gaylon Nickerson  WAS  28  190.50   86.182480
1         2 George Lynch  VAN  26  203.20  103.418976
2       3 George McCloud  LAL  30  203.20  102.058200
3         4 George Zidek  DEN  23  213.36  119.748288
4       5 Gerald Wilkins  ORL  33  198.12  102.058200
5     6 Gheorghe Muresan  WAS  26  231.14  137.438376
6            7 Glen Rice  CHH  30  203.20   99.790240
7       8 Glenn Robinson  MIL  24  200.66  106.594120
8           9 Grant Hill  DET  24  203.20  102.058200
9          10 Gary Trent  POR  22  203.20  113.398000
10         11 Grant Long  DET  31  205.74  112.490816
11       12 Greg Anthony  VAN  29  185.42   81.646560
12      13 Greg Dreiling  DAL  33  215.90  120.201880
13        14 Greg Foster  UTA  28  210.82  113.398000
14        15 Greg Graham  SEA  26  193.04   82.553744
15         16 Greg Minor  BOS  25  198.12   95.254320
16      17 Greg Ostertag  UTA  24  218.44  127.005760
17    18 Hakeem Olajuwon  HOU  34  213.36  115.665960
18       19 Harvey Grant  WAS  31  205.74  102.058200
19   20 Haywoode Workman  IND  31  187.96   81.646560
20      21 Greg Anderson  SAS  33  208.28  113.398000
21        22 Gary Payton  SEA  28  193.04   86.182480
22         23 Gary Grant  MIA  32  190.50   83.914520
23       24 Fred Roberts  DAL  36  208.28   98.883056
24  25 Eldridge Recasner  ATL  29  193.04   86.182480
25       26 Elliot Perry  MIL  28  182.88   72.574720
26      27 Elmer Bennett  DEN  27  182.88   77.110640
27     28 Elmore Spencer  SEA  27  213.36  122.469840
28      29 Emanual Davis  HOU  28  195.58   87.996848
29      30 Ennis Whatley  POR  34  190.50   80.285784
30       31 Eric Leckner  VAN  31  210.82  120.201880
31        32 Eric Mobley  VAN  27  210.82  106.594120
32      33 Eric Montross  NJN  25  213.36  122.469840
33       34 Eric Murdock  DEN  29  185.42   86.182480
34    35 Eric Piatkowski  LAC  26  200.66   97.522280
35          36 Eric Snow  SEA  24  190.50   90.718400
36      37 Eric Williams  BOS  24  203.20   99.790240
37      38 Erick Dampier  IND  21  210.82  120.201880
38   39 Erick Strickland  DAL  23  190.50   95.254320
39      40 Ervin Johnson  DEN  29  210.82  111.130040
40         41 Evric Gray  NJN  27  200.66  106.594120
41     42 Felton Spencer  GSW  29  213.36  127.005760
42   43 Frank Brickowski  BOS  37  205.74  108.862080
43       44 Frankie King  PHI  25  185.42   83.914520
44       45 Fred Hoiberg  IND  24  193.04   92.079176
45        46 Henry James  ATL  31  203.20   99.790240
46     47 Elden Campbell  LAL  28  213.36  113.398000
47      48 Herb Williams  NYK  39  210.82  117.933920
48       49 Horace Grant  ORL  31  208.28  111.130040
49    50 Jerome Williams  DET  24  205.74   93.439952
50   51 Jerry Stackhouse  PHI  22  198.12   98.883056]

In [6]:
output = tabula.convert_into(file, "/content/sample_data.csv", output_format="csv", pages=[1, 2])

In [7]:
print(output)

None

In [8]:
file = open('/content/sample_data.csv')
type(file)

_io.TextIOWrapper

In [11]:
import pandas as pd

In [12]:
data= pd.read_csv("/content/sample_data.csv")
data

     0 Randy Livingston  HOU  22  193.04   94.800728
0    1 Gaylon Nickerson  WAS  28  190.50   86.182480
1        2 George Lynch  VAN  26  203.20  103.418976
2      3 George McCloud  LAL  30  203.20  102.058200
3        4 George Zidek  DEN  23  213.36  119.748288
4      5 Gerald Wilkins  ORL  33  198.12  102.058200
..                  ...  ...  ..     ...         ...
99      100 Chris Mills  CLE  27  200.66   97.975872
100    101 Chris Morris  UTA  31  203.20   99.790240
101    102 Chris Mullin  GSW  33  200.66   97.522280
102  103 Chris Robinson  VAN  23  195.58   90.718400
103    104 Chris Webber  WAS  24  208.28  111.130040

[104 rows x 5 columns]

In [13]:
data.columns

Index(['0 Randy Livingston', 'HOU', '22', '193.04', '94.800728'], dtype='object')

In [15]:
!head /content/sample_data.csv

0 Randy Livingston,HOU,22,193.04,94.800728
1 Gaylon Nickerson,WAS,28,190.5,86.18248
2 George Lynch,VAN,26,203.2,103.418976
3 George McCloud,LAL,30,203.2,102.0582
4 George Zidek,DEN,23,213.36,119.748288
5 Gerald Wilkins,ORL,33,198.12,102.0582
6 Gheorghe Muresan,WAS,26,231.14,137.438376
7 Glen Rice,CHH,30,203.2,99.79024
8 Glenn Robinson,MIL,24,200.66,106.59412
9 Grant Hill,DET,24,203.2,102.0582

In [25]:
import csv

# Function to add a new column to the CSV file
def add_column(input_file, output_file, new_column_name, new_column_value):
    with open(input_file, 'r', newline='') as infile:
        reader = csv.reader(infile)
        header = next(reader)  # Read the header

        # Add the new column name to the header
        header.append(new_column_name)

        # Create a list to store the modified rows
        rows = []

        # Iterate over the rows, adding the new column value to each row
        for row in reader:
            row.append(new_column_value)
            rows.append(row)

    # Write the modified data to a new file
    with open(output_file, 'w', newline='') as outfile:
        writer = csv.writer(outfile)

        # Write the header
        writer.writerow(header)

        # Write the modified rows
        writer.writerows(rows)

# Example usage
input_file = '/content/sample_data.csv'
output_file = 'output.csv'
new_column_name = 'New Column'
new_column_value = 'New Value'

add_column(input_file, output_file, new_column_name, new_column_value)

FileNotFoundError: [Errno 2] No such file or directory: 'input.csv'

In [26]:
!ls

all_seasons.pdf  sample_data  sample_data.csv

In [27]:
print(input_file)

input.csv

In [30]:
!ls -l /content/sample_data.csv

-rw-r--r-- 1 root root 4254 Apr 16 05:05 /content/sample_data.csv

In [34]:
def add_column(input_file, output_file, new_column_name, new_column_value):
  # Code to add a new column to a CSV file
  # ...
  # Write the updated data to the output file
  with open(output_file, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(updated_rows)
# Call the function with the provided arguments
add_column('/content/sample_data.csv', output_file, new_column_name, new_column_value)

NameError: name 'updated_rows' is not defined

In [35]:
# Code to add a new column to a CSV file
# ...
# Create a list to store the updated rows
updated_rows = []
# ...

In [37]:
with open(file.name, 'r') as csvfile:
  reader = csv.reader(csvfile)
  rows = list(reader)

In [38]:
# Add the new column to the CSV file
# ...
# Add the updated rows to the list
for row in rows:
  # Add the new column value to the row
  row.append(new_column_value)
  # Add the updated row to the list
  updated_rows.append(row)
# ...

In [39]:
with open('/content/sample_data.csv', 'w', newline='') as csvfile:
  writer = csv.writer(csvfile)
  writer.writerows(updated_rows)

In [42]:
import csv

# Function to add a new column to the CSV file
def add_column(input_file, output_file, new_column_name, new_column_value):
    with open(input_file, 'r', newline='') as infile:
        reader = csv.reader(infile)
        header = next(reader)  # Read the header

        # Add the new column name to the header
        header.append(new_column_name)

        # Create a list to store the modified rows
        rows = []

        # Iterate over the rows, adding the new column value to each row
        for row in reader:
            row.append(new_column_value)
            rows.append(row)

    # Write the modified data to a new file
    with open(output_file, 'w', newline='') as outfile:
        writer = csv.writer(outfile)

        # Write the header
        writer.writerow(header)

        # Write the modified rows
        writer.writerows(rows)

# Example usage
input_file = '/content/sample_data.csv'
output_file = 'output.csv'
new_column_name = 'O grade'
new_column_name = 'A+ grade'
new_column_name = 'A grade'
new_column_name = 'B+ grade'
new_column_name= 'B grade'
new_column_name = 'C grade'
new_column_name = 'U'
new_column_value = 12
add_column(input_file, output_file, new_column_name, new_column_value)